.background {
    background-color: #F6F7EB;
    width: 100%;
}

.header-width{
    width: 20%;
}

.header-pill{
    background-color: #F6F7EB;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Tahoma';
    font-weight: 400;
    font-size: 1.4rem;
    user-select: none;
    -webkit-user-select: none;
}

div a:link{
    color: black;
}
div a:visited{
    color: black;
}
div a:hover{
    color: #F40000;
}

.title {
    width: 266px;
    height: 63px;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 63px;
    /* identical to box height */
    text-align: center;

    color: #F40000;

    -webkit-text-stroke: 1px black;
    user-select: none;
    -webkit-user-select: none;
}

.search-space{
    width: 70%;
    max-width: 700px;
}

.no-results-message{
    color: black;
    opacity: 0.6;
    font-weight: 600;
    font-size: 1.2rem;
    user-select: none;
    -webkit-user-select: none;
}

.professor-username{
    color: black;
    opacity: 0.9;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.professor-name{
    color: black;
    opacity: 0.7;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle{
    color: black;
    opacity: 0.8;
    font-weight: 600;
    font-size: 1rem;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.profile-picture{
    background-color: #adacac;
    object-fit: contain;
    border-radius: 50%;
    max-height: 3.5rem;
    max-width: 3.5rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
}

.result-div{
    height: 5rem;
}

.result-div:hover{
    background-color: #e7e6e6;
}

.professor-div{
    min-width: 25%;
    max-width: 25%;
}

.materie-div{
    min-width: 30%;
    max-width: 30%;
}